name: swipe
description: The easy way to detect swipe up, down, left and right in Flutter.
version: 0.0.1
author: Salman S
homepage: https://github.com/salkuadrat/swipe
repository: https://github.com/salkuadrat/swipe

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter